@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
.f{
  

    width: 100%;
    height: 300px;
    /* height:  60px; */
    object-fit: cover;

}
.z{
    background: url(../../components/resources/images/sub-banner.jpg) center !important;
    background-size: cover;
    width: 100%;
  
    justify-content: center;
    align-items: center;
    
}
.j{
    font-size: 30;
    color: brown;
}
.k{
    padding-left: 65%;
}

.m{
    height: 60vh ;
    width: 50%;
    padding-left: 10%;
    border-radius: 5%;
  display: flex;
    margin: auto;
    border-radius: 5%;
 
}
.ll{
    padding-left: 50%;
}

@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }